body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    text-align: center;
    border-radius: 8px;
}
